<div class="about" [class.is-mobile]="mobileQuery.matches">
    <div class="about-item1">
        <div class="title-content" [class.is-mobile]="mobileQuery.matches"> &mdash; My Story<br/></div>
        <div class="content" [class.is-mobile]="mobileQuery.matches">Sana Burney is a visual artist and art educator from Pakistan living and working in Peston, UK. Recently, she has finished her Masters in Fine Art from the University of Central Lancashire, UK.  Pursuing her passion for history and finding connections between post-colonial capitalist societies and the legacies of colonialism, Burney explores various opportunities to expand her art practice in the UK and otherwise.
          <br/><br/>She was honoured with the ‘Visual Art Award 2016’ at 13th Annual Environment Excellence (AEAE), organized by National Forum for Environment & Health Karachi, Pakistan. Burney has participated in several group shows held in Karachi and in Pakistan.
            Her work mainly deals with the ritual practices associated with social norms and relationships. She also works with the concept of spirituality, her prominent project is titled ‘Esoteric Mysticism’. She has exhibited her installation works
            in London, United Kingdom. <br/><br/>Burney worked for the Karachi Biennale outreach project ‘Reel on hai’ where she painted live two huge reels of 6 and 5 feet with the theme of celebrating Karachi. Her painted reels were inaugurated and
            are placed at Safari Park, Karachi. Burney also researched and published on Truck art and the culture of Pakistan with titles ‘The Emergence of Truck art boom as Karachi Pop in response to War on Terror’ and ‘Public Art: An Evolution from
            Traditional Enclosure to Contemporary Invasion’. <br/><br/>She has represented Pakistan and the Pakistani Culture of painting Trucks at international conferences in the USA and twice in Turkey.
        </div>
        <!--div style="max-width:100%;">
            <br/><br/>
            <div style="max-width:75%;  margin-left: auto; margin-right: auto;">
                <p style="float: left;font-size: 1rem; color: #333;">FILMING</p>
                <p style="float: right;font-size: 1rem; color: #333;">95%</p>
                <mat-progress-bar mode="determinate" value="95 "></mat-progress-bar>
            </div>

            <div style="max-width:75%;  margin-left: auto; margin-right: auto;">
                <p style="float: left;font-size: 1rem; color: #333;">PHOTOGRAPHY</p>
                <p style="float: right;font-size: 1rem; color: #333;">85%</p>
                <mat-progress-bar mode="determinate" value="85 "></mat-progress-bar>
            </div>

            <div style="max-width:75%;  margin-left: auto; margin-right: auto;">
                <p style="float: left;font-size: 1rem; color: #333;">WRITING</p>
                <p style="float: right;font-size: 1rem; color: #333;">90%</p>
                <mat-progress-bar mode="determinate" value="90 "></mat-progress-bar>
            </div>
        </div-->
    </div>
    <img src="../assets/about-bg.jpg " class="about-item2 ">
</div>
