<div class="about" [class.is-mobile]="mobileQuery.matches">
  <div class="about-item1">
    <div class="title-content" [class.is-mobile]="mobileQuery.matches"> &mdash; My Story<br/></div>
    <div class="content" [class.is-mobile]="mobileQuery.matches">Sana Burney is a master's in Fine art from UCLan -
      University of Central Lancashire, UK. She has taught for over 12 years and is currently on the Indus Valley School
      of Art & Architecture faculty. Burney has presented her research papers on art and design in Turkey, the USA and
      Pakistan. She has also done large scale public art projects in Karachi and Larkana. Karachi's public art project
      of 'FTC Bridge Beautification' is an example of beauty and nationalism. <br><br>In 2021, she
      participated in Jade Montserrat's project of mural drawing at the UCLan, Preston, UK.<br><br>Burney's art practice
      revolves around the themes of colonialism, post-colonial societies, racialized inequality, institutionalized
      racism, subordination, dependency, belonging and not belonging, capitalism, and the ideas of feminism. Subjects of
      hybrid identities and identity crises are prominent themes in her practice. Besides, she is also interested in
      sociology and psychoanalytic perspectives. Her practice originates from twentieth-century modern collage styles
      and evolves into a diverse range of alternative techniques, assemblage and found objects combining contemporary
      influences. It also encompasses traditional types of printmaking, entailing new methods and experiments.
    </div>
    <!--div style="max-width:100%;">
        <br/><br/>
        <div style="max-width:75%;  margin-left: auto; margin-right: auto;">
            <p style="float: left;font-size: 1rem; color: #333;">FILMING</p>
            <p style="float: right;font-size: 1rem; color: #333;">95%</p>
            <mat-progress-bar mode="determinate" value="95 "></mat-progress-bar>
        </div>

        <div style="max-width:75%;  margin-left: auto; margin-right: auto;">
            <p style="float: left;font-size: 1rem; color: #333;">PHOTOGRAPHY</p>
            <p style="float: right;font-size: 1rem; color: #333;">85%</p>
            <mat-progress-bar mode="determinate" value="85 "></mat-progress-bar>
        </div>

        <div style="max-width:75%;  margin-left: auto; margin-right: auto;">
            <p style="float: left;font-size: 1rem; color: #333;">WRITING</p>
            <p style="float: right;font-size: 1rem; color: #333;">90%</p>
            <mat-progress-bar mode="determinate" value="90 "></mat-progress-bar>
        </div>
    </div-->
  </div>
  <img src="../assets/about-bg.jpg " class="about-item2 ">
</div>
