<div class="about" [class.is-mobile]="mobileQuery.matches">
  <div class="about-item1">
    <div class="title-content" [class.is-mobile]="mobileQuery.matches"> &mdash; My Story<br/></div>
    <div class="content" [class.is-mobile]="mobileQuery.matches">Sana Burney is a master's in Fine art from the
      University of Central Lancashire, UK. She is currently on the Indus Valley School of Art & Architecture faculty
      and has taught for over 12 years. She has presented her research papers on art and design in Turkey, the USA and
      Pakistan.<br><br>
      She has done gigantic public art projects in Karachi and Larkana. Karachi's public art project of 'FTC Bridge
      Beautification' is an example of beauty, patriotism, and nationalism. She has designed murals and light works and
      imagined and led projects with distinctive styles.<br><br>
      Additionally, she has worked with <i>Karachi Biennale</i> and painted two huge reels for the 'Reel on Hai' project. Reels
      were launched in March 2017 and placed in Safari Park. In 2021, she participated in Jade Montserrat's project of
      mural drawing at the University of Central Lancashire, Preston, UK. Besides, she has exhibited at several art
      galleries in Pakistan.<br><br>
      Burney's art practice revolves around the themes of colonialism, post-colonial societies, racialized inequality,
      institutionalized racism, subordination, dependency, belonging and not belonging, capitalism, and the ideas of
      feminism. Subjects of hybrid identities and identity crises are prominent themes in her practice. Besides, she is
      also interested in sociology and psychoanalytic perspectives. Her practice originates from twentieth-century
      modern collage styles and evolves into a diverse range of alternative techniques, assemblage and found objects
      combining contemporary influences. It also encompasses traditional types of printmaking, entailing new methods and
      experiments.
    </div>
    <!--div style="max-width:100%;">
        <br/><br/>
        <div style="max-width:75%;  margin-left: auto; margin-right: auto;">
            <p style="float: left;font-size: 1rem; color: #333;">FILMING</p>
            <p style="float: right;font-size: 1rem; color: #333;">95%</p>
            <mat-progress-bar mode="determinate" value="95 "></mat-progress-bar>
        </div>

        <div style="max-width:75%;  margin-left: auto; margin-right: auto;">
            <p style="float: left;font-size: 1rem; color: #333;">PHOTOGRAPHY</p>
            <p style="float: right;font-size: 1rem; color: #333;">85%</p>
            <mat-progress-bar mode="determinate" value="85 "></mat-progress-bar>
        </div>

        <div style="max-width:75%;  margin-left: auto; margin-right: auto;">
            <p style="float: left;font-size: 1rem; color: #333;">WRITING</p>
            <p style="float: right;font-size: 1rem; color: #333;">90%</p>
            <mat-progress-bar mode="determinate" value="90 "></mat-progress-bar>
        </div>
    </div-->
  </div>
  <img src="../assets/about-bg.jpg " class="about-item2 ">
</div>
