<div class="container">
    <div class="item1">
        <button mat-raised-button (click)="openAcademia()">Academia</button>
    </div>
    <div class="item2">
        <button mat-raised-button (click)="openProjects()">Projects</button>
    </div>
    <div class="item3">
        <button mat-raised-button (click)="openPublications()">Publications</button>
    </div>
    <div class="item4">
        <button mat-raised-button (click)="openExhibitions()">Exhibitions</button>
    </div>
    <div class="item5">
        <a href="../../assets/resume.pdf" target="_blank"> <u>Download Resume</u></a>
    </div>
</div>