<div class="introduction" [class.is-mobile]="mobileQuery.matches">
    <img src="../assets/intro-bg.jpg" class="introduction-item1">
    <div class="introduction-item2">
        <div style="font-size: 2rem">I’m a visual artist,
        </div>
        <div class="name"><b>Sana
            <br/>Burney</b>
        </div>
        <div class="one-liner">Sana Burney is a creative mind that has been involved in many artistic endeavours. She is a Fine Artist living and working in Karachi, Pakistan.
        </div>
        <div>
            <a href="mailto:&#115;&#097;&#110;&#097;&#098;&#117;&#114;&#110;&#101;&#121;&#046;&#115;&#098;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" target="_blank ">
                <mat-icon style="color: whitesmoke; ">mail</mat-icon>
            </a>&nbsp;
            <a href="https://www.facebook.com/SanaBurneyInnovativeArts" target="_blank ">
                <mat-icon style="color: whitesmoke; ">facebook</mat-icon>
            </a>&nbsp;
            <a href="https://www.instagram.com/innovativearts_sanaburney" target="_blank ">
                <img src="../../assets/icons8-instagram.png " style="padding-bottom: 2px; ">
            </a>
        </div>
    </div>