.introduction {
    display: flex;
}

.introduction-item1 {
    object-fit: cover;
    height: 100vh;
    width: 50vw;
}

.introduction-item2 {
    color: whitesmoke;
    text-align: left;
    margin-top: 35vh;
    margin-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.name {
    font-size: 7rem;
    font-family: Liberation Serif;
    line-height: 100px;
}

.one-liner {
    font-size: 1rem;
    overflow-wrap: break-word;
    padding-top: 5vh;
}

.is-mobile .introduction {
    display: flex;
}

.is-mobile .introduction-item1 {
    display: none;
}

.is-mobile .introduction-item2 {
    color: whitesmoke;
    text-align: left;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.is-mobile .name {
    font-size: 4rem;
    font-family: Liberation Serif;
    line-height: 50px;
}

.is-mobile .hidden {
    display: none;
}

.is-mobile .one-liner {
    font-size: 1rem;
    overflow-wrap: break-word;
    padding-top: 5vh;
}