<carousel [class.is-mobile]="mobileQuery.matches" [dots]="mobileQuery.matches ? false : true" [cellsToShow]="mobileQuery.matches ? 1 : 3" class="carousel">
  <div class="carousel-cell">
    <mat-card [class.is-mobile]="mobileQuery.matches">
      <mat-card-title>The miracle cream</mat-card-title>
      <mat-card-subtitle>Intaglio type Etching on Somerset</mat-card-subtitle>
      <img src="../assets/web-23.png">
      <mat-card-content>
        <p style="text-align: justify; ">
          The artwork ‘The miracle cream’ underlines discrimination based on skin colour in Pakistani society with its strong roots in the British colonial period. The artwork depicts this discrimination through a facial transformation.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="carousel-cell">
    <mat-card [class.is-mobile]="mobileQuery.matches">
      <mat-card-title>Mirror of British Merchandise</mat-card-title>
      <mat-card-subtitle>Intaglio type Etching on Somerset</mat-card-subtitle>
      <img src="../assets/web-24.png">
      <mat-card-content>
        <p style="text-align: justify; ">
          In this work, a pair of foxes beside Britannia refers to the British's mischief and opportunistic traits at the time of British Raj. A little boy, with signs of famine, is pivoted in the centre of the picture.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="carousel-cell">
    <mat-card [class.is-mobile]="mobileQuery.matches">
      <mat-card-title>Resurrection</mat-card-title>
      <mat-card-subtitle>Intaglio type Etching on Somerset</mat-card-subtitle>
      <img src="../assets/web-25.png">
      <mat-card-content>
        <p style="text-align: justify; ">
          The artwork explores the subject of the slave trade during the East India Company's (EIC) rule in the Indian Subcontinent. The artwork uses the found image of a banknote issued for the British Raj under King George V of the United Kingdom, Emperor of India. The image shows King George V looking at the statue of a black woman.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="carousel-cell">
    <mat-card [class.is-mobile]="mobileQuery.matches">
      <mat-card-title>Little Henry and His Bearer</mat-card-title>
      <mat-card-subtitle>Digital Print on Chenille</mat-card-subtitle>
      <img src="../assets/web-26.png">
      <mat-card-content>
        <p style="text-align: justify; ">
          The work depicts Virgin Mary's image with the baby Christ highlights female servants' role as custodian mothers and wet nurses during the British Raj. It also idealises racial dichotomy by using a black bearer with unimaginable love for a white child and vice versa.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
    <div class="carousel-cell">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Ishq (Love)</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/ishq.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This investigation is about Ishq (love). Love that is divine and unconditional. This piece was part of a gallery exhibition with the theme: &#39;Ishq Vishq&#39;.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Vishq (Pseudoword)</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/vishq.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This investigation is about Vishq: a pseudoword that I had perceived as material love. Love that is impure and conditional.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Untitled</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-3.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This piece talks about the many readings I had to do as part of my coursework. These readings included various photo books that were meant to increase my visual vocabulary.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Arsi Musaf (A ritual in Pakistani Marriages)</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-4.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This work expresses the social pressure of getting married in Pakistan. It depicts a girl being pushed onto the matrimonial stage.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Resemblance</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-5.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This piece discovers the resemblance between mother and daughter by manipulating two photographs.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Untitled</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-6.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This piece explores the idea of experiencing the young hood of a mother and a daughter at the same time of life.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Untitled</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-8.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This piece revolves around self exploration and dreams that are undesirable, because they cannot be fulfilled yet they linger as thoughts.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Untitled</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-9.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This piece is about self-exploration and expresses the dream of flying space shuttle up into the Milky Way.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Untitled</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-10.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This piece is about self-exploration. The dream of experiencing the life of an eskimo in and around the igloo.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Candid Conversations</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-11.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    The exclusivity of Pakistan was explored by drawing images of Pakistani iconic figures on ‘Chenaks’ (kettles). This installation was exhibited at Hoxton Basement, London, UK.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Untitled</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-12.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This work was created for a photo exhibition titled &#39;Hidden From View - Women photographers photographing Women’, at the Canadian Embassy.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Istanbul</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-13.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    I launched my atelier ‘innovative arts’. Under this atelier I introduced hand painted shoes and digitally printed jackets.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Untitled</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-14.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This photograph has Avon&#39;s mouth fresh bottle. The texture and colour of the bottle were quite fascinating. The bottle was shot separately. The background includes Monet&#39;s painting of water lilies with a Plumeria flower in the foreground. In the
                    end text was added.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Independence</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-15.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    Since I decided to gift this work to Karachi on August 14th I captured the energy of independence by using the colour green. I chose the national flower Jasmine as a symbol of independence and to fill the air with a spirit of independence!
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Independence</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-16.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    The columns, murals and ceilings were to be lit to be viewed at night. The lighting effort was divided into two parts. One was to light up the murals and the second was to light up the columns.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Independence</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-17.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    One of the major projects that I have completed for the government of Sindh, Pakistan was the FTC Flyover beautification in Karachi. This is one of the two murals depicting Jinnah as a modern and progressive leader.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Independence</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-18.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    In this photograph I am with my lighting team who worked tremendously day and night on the FTC Flyover beautification project.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Independence</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-19.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This is the second of the two murals depicting the sunrise of Karachi Sea View. Children playing in the foreground depict peace and harmony.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>From the Flux of Daily Life</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-20.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This work was created for a photo-essay on Saddar Karachi. When I was at a hawker who sells mirrors a person passed by and his reflection appeared in the mirror. This provided me a decisive moment and I couldn&#39;t miss the chance of taking this documentary
                    photograph.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Muntazir</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-21.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This exploration is about an esoteric mystical relationship inspired by the poetry of Hazrat Zaheen Shah Taji, a sufi poet.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell ">
        <mat-card [class.is-mobile]="mobileQuery.matches">
            <mat-card-title>Untitled</mat-card-title>
            <mat-card-subtitle>Photography (Single Exposure)</mat-card-subtitle>
            <img src="../assets/web-22.jpg ">
            <mat-card-content>
                <p style="text-align: justify; ">
                    This work was created as part of a portrait series. This photograph reveals the character of a person by exploring an unconventional style of portraiture.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</carousel>
